[Unit]
Description=Run Notifications Job

[Service]
Type=simple
User=nemo
WorkingDirectory=/usr/share/harbour-9store/qml/py/
ExecStart=/usr/share/harbour-9store/qml/py/jobs.sh

[Install]
WantedBy=user-session.target
